  <footer class="container">
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-2">
        <a href="https://codio.com">
          <span>built with</span>
          <img src="/images/codio-icon.png" width="28" alt="">
          <span>Codio</span>
        </a>
      </div>
      <div class="col-md-5">
      </div>
    </div>
  </footer>

</body>
</html>
