</div>
<footer class="container">
	<div class="copyright">
		<a href="https://codio.com">
			<span>built with</span>
			<img src="/images/codio-icon.png" width="28" alt="">
			<span>Codio</span>
		</a>
	</div>
</footer>

</body>
</html>
