<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%- titleBuilder.render() %></title>

	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body class="<%= typeof bodyClass != 'undefined' ? bodyClass : ''%>">
<div id="wrap">
	<% if (typeof noHead == 'undefined') { %>
	<% include header.ejs %>
	<% } %>
