<header>
  <% if (isLoggedIn) { %>
  <span class="menu">
    <img src="http://www.gravatar.com/avatar/<%= loggedUser.github.gravatar_id %>?s=20" alt="" class="img-rounded"/>
    <%= loggedUser.displayName %>
  </span>

  <a href="/users/<%= loggedUser.username %>/editor" class="menu">
    <i class="icon-edit"></i>
    Supporters
  </a>
  <a href="/settings" class="menu">
    <i class="icon-cog"></i>
    Maintainers
  </a>

  <a href="/logout" class="pull-right menu">logout</a>
  <% } else { %>
  <a href="/auth/github" class="pull-right menu">Join Now!</a>
  <% } %>
  <div class="clearfix"></div>
</header>