<header class="navbar navbar-inverse">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand"><img src="/images/logo-darkbg.png" width="72" alt=""></a>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav" id="main-nav">
        <% if (isLoggedIn) { %>
          <li>
            <a href="/users/<%= loggedUser.username %>/editor">Supporters</a>
          </li>
          <li>
            <a href="/settings">Maintainers</a>
          </li>
        <% } %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if (isLoggedIn) { %>
          <li>
            <a href="/users/<%= loggedUser.username %>">
              <%= loggedUser.displayName %>
              <img src="http://www.gravatar.com/avatar/<%= loggedUser.github.gravatar_id %>?s=18" class="gravatar">
            </a>
          </li>
          <li><a href="/logout"><i class="icon-signout"></i></a></li>
        <% } else { %>
          <li><a href="/auth/github">Join Now!</a></li>
        <% } %>
      </ul>
    </nav>

  </div>
</header>