#page-project {
  .support-types {
	width: 100%;
	float: none;
	max-width: 100%;
	padding: 0;

	.support-type {
	  cursor: default;
	  width: 5em;
	  text-align: right;
	  padding: 0 .2em 0 1.5em;
	  line-height: 26px;
	  position: relative;

	  &:before {
		text-align: left;
		opacity: 1;
		position: absolute;
		left: .2em;
		top: 1.05em;
		line-height: 1;
	  }
	}
  }

  .contribution-types {
	float: right;
	width: auto;
  }

  .users {
	padding: 20px;

	.col {
	  box-sizing: border-box;
	  width: 33%;
	  float: left;
	  padding: 10px;

	  &:nth-child(odd) {
		border: 1px solid #e3e3e3;
		border-top: 0;
		border-bottom: 0;
	  }

	  h4 {
		text-align: center;
	  }

	  a {
		&:after {
		  content: ',';
		  padding-right: 1.2em;

		}

		&:last-child {
		  &:after {
			content: '';
		  }
		}
	  }
	}

  }
}