#page-project {

  .profile-header {
	.avatar {
	  &:after {
		.icon(@github-sign);
		font-size: 92px;
		position: absolute;
		position: absolute;
		left: 0px;
		display: block;
		vertical-align: top;
		top: -25px;
	  }
	}

	.donate {
	  clear: both;
	  padding: 20px 0;

	  .methods {
		display: none;
	  }
	}
  }

  .users {
	padding: 20px;

	h3 {
	  margin-left: -20px;
	}

	.col {
	  box-sizing: border-box;
	  width: 33%;
	  float: left;
	  padding: 10px;

	  &:nth-child(odd) {
		border-top: 0;
		border-bottom: 0;
	  }

	  a {
		&:after {
		  content: ',';
		  padding-right: 1.2em;

		}

		&:last-child {
		  &:after {
			content: '';
		  }
		}
	  }
	}
  }
}