section#repos-editor {

  .to-account {
		margin-top: 20px;
  }

  section#repos-selector {

		.nav-tabs {
		  li {

				.icon-spinner {
				  display: none;
				}

				&.disabled {
			  	.icon-spinner {
						display: inline;
			  	}
				}

				&.selected-repos {
				  margin-right: 2em;
				  a {
						font-weight: 700;
						text-transform: uppercase;
				  }
				}

				.btn a {
				  color: #fff;
				  text-decoration: none;
				}
		  }
		}

		.search-form {
		  margin: 20px 0;

		  input {
				width: 30em;
				display: inline-block;
		  }

		  input, button {
				margin-right: 2em;
		  }
		}

		.query-too-short {
		  display: none;
		}

		.repos-list {
		  padding: 20px 0;
		}
  }
}

