#repos-selector {

  .nav-tabs {
	li {

	  .icon-spinner {
		display: none;
	  }

	  &.disabled {
		.icon-spinner {
		  display: inline;
		}
	  }

	  &.selected-repos {
		margin-right: 2em;
		a {
		  font-weight: 700;
		  text-transform: uppercase;
		}
	  }

	  .btn {
		margin-left: 20px;

		a {
		  color: #fff;
		  text-decoration: none;
		}
	  }
	}
  }

  .share {
	display: none;
	margin-bottom: 4em;
	border-bottom: 1px solid #000;

	.help {
	  font-size: 1.1em;
	  color: #FFF;
	  padding: 20px 15px;
	}

	.form-group {
	  .clearfix;
	  margin-bottom: 1em;
	}
  }

  .search-form {
	margin: 20px 0;

	input {
	  width: 30em;
	  display: inline-block;
	}

	input, button {
	  margin-right: 2em;
	}
  }

  .query-too-short {
	display: none;
  }

  .repos-list {
	padding: 20px 0;
  }
}


