section#user-repos {
	margin-top: 20px;

  .repos-list {
		padding: 20px 0;

		.col.support-types {
		  .support-type {
				cursor: default;
				border: 0;
				opacity: 0;

				&.active {
			  	opacity: 1;
				}
		  }
		}
  }
}

