<div class="hide-help">
	<span class="icon-mail-forward"></span>
	<br>
	hide
	<br>
	help
</div>
<h1>What is a Maintainer?</h1>
<div class="helper">
	<p>You're a&nbsp;<strong>Maintainer</strong> if you have an Open Source project and you are looking to attract donations or just acknowledgement of your hard work.</p>

	<p>It's really simple to set up. To get started, sign in with GitHub and then click on Maintainers at the top.</p>
</div>
<h1>How it works</h1>

<div class="helper">
	<h3>1. Find your project</h3>
	<p>You'll see your personal projects listed as well as any Organizations of which you are an administrator. You can expand and collapse these sections. Locate the project you want support for and click on the 'Donation preferences' button.</p>
</div>

<div class="helper">
	<h3>2. Enter your support preferences</h3>
	<p>You can request financial contributions from <a href="https://www.gittip.com/">Gittip</a>, <a href="https://flattr.com/">Flattr</a> or Paypal. Alternatively, you can use the 'Email for comments' section to get a comment direct from someone. You can also use the 'Other' field to provide other instructions such as your bank transfer / wire details.</p>
</div>

<div class="helper">
	<h3>3. Embed in your README.md or Website</h3>
	<p>Now all you need to do is to copy the Embed code at the top of the settings section and paste it into your README.md file or Website. This will direct anyone who clicks on it to your special Project page, where people can acknowledge you or send a donation.</p>
</div>
