.profile-header {
  .clearfix;
  margin: 20px 0;

  .avatar {
	text-decoration: none;
	float: left;
	width: 80px;
	height: 80px;

	&:hover {
	  text-decoration: none;
	}
  }

  .welcome {
	float: right;
	position: relative;
	width: 60%;
	right: 0;
	padding: 0 20px 20px;
	font-size: 1.3em;
	color: #FFF;

	.login {
	  margin-top: 5px;
	}
  }

  .data {
	margin-left: 20px;
	float: left;
  }
}