html, body {
  height: 100%;
}

body {
  font-weight: 400;
  background: #666 url('/images/bg.png') repeat;
}

.nav-tabs.bigger {
  & > li > a {
	font-size: 1.3em;
  }
}

.link-list {
  a {
	&:after {
	  content: ',';
	}

	&:last-child {
	  &:after {
		content: '';
	  }
	}
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;

  > .container {
	margin-bottom: 70px;
  }
}

.form-control {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  font-size: 1.3em;

  .navbar-nav > li > a {
	line-height: 35px;
  }

  .navbar-brand {
	padding-top: 12px;
	padding-right: 60px;
  }

  #main-nav {
	font-weight: 300;
	font-size: 1.1em;
  }

  i {
	width: 1em;
  }

  .icon-signout {
	font-size: 18px;
	position: relative;
	top: 3px;

	a & {
	  padding: 3px;
	}
  }

  .gravatar {
	border-radius: 50%;
	margin-left: 4px;
	position: relative;
	top: -1px;
  }

  .menu {
	padding: 8px 12px;
	display: inline-block;
  }
}

footer {
  height: 60px;
  text-align: left;
  padding-top: 10px;

  img {
	position: relative;
	top: -2px;
  }

  .copyright {
	text-align: center;
	a {
	  text-align: center;
	  color: #fff;
	  text-decoration: none;
	  font-weight: 300;

	  span, img {
		.transition(opacity .50s linear);
		opacity: 0.5;
	  }

	  img {
		opacity: 0.5;
	  }

	  &:hover {
		span, img {
		  opacity: 1;
		}
	  }
	}
  }
}

.modal-content {
  background: #666 url('/images/bg.png') repeat;
}