html, body {
  height: 100%;
}

body {
  font-weight: 400;
  background: #666 url('/images/bg.png') repeat;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;

  > .container {
	margin-bottom: 70px;
  }
}

.form-control {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  .navbar-brand {
	padding-top: 12px;
	padding-right: 60px;
  }

  #main-nav {
	font-weight: 300;
	font-size: 16px;
  }

  i {
	width: 1em;
  }

  .icon-signout {
	font-size: 18px;
	position: relative;
	top: 3px;

	a & {
	  padding: 3px;
	}
  }

  .gravatar {
	border-radius: 50%;
	margin-left: 4px;
	position: relative;
	top: -1px;
  }

  .menu {
	padding: 8px 12px;
	display: inline-block;
  }
}

footer {
  height: 60px;
  text-align: left;
  padding-top: 10px;

  img {
	position: relative;
	top: -2px;
  }

  .copyright {
	text-align: center;
	a {
	  text-align: center;
	  color: #fff;
	  text-decoration: none;
	  font-weight: 300;

	  span, img {
		.transition(opacity .50s linear);
		opacity: 0.5;
	  }

	  img {
		opacity: 0.5;
	  }

	  &:hover {
		span, img {
		  opacity: 1;
		}
	  }
	}
  }
}

.repos-list {
  .header, .repo {
	.clearfix;
	padding: 20px 10px;
	border-bottom: 1px solid #222;

	.col {
	  float: left;
	  min-height: 2em;
	  height: 100%;

	  &.support-types {
		width: 30%;
		padding: 0 2em;
	  }

	  &.repo-name {
		padding-left: 2em;
		width: 30%;
		line-height: 2em;
	  }

	  &.contribution-types {
		width: 40%;
	  }
	}
  }

  .header {
	padding: 0px 10px;

	.col {
	  text-align: left;
	  padding-left: .5em;

	  &.support-types {
		padding-left: 2.5em;
	  }
	}
  }

  .load-more {
	margin-top: 20px;
  }

  .repo {
	position: relative;
	font-weight: 300;

	&.fork {
	  .repo-name {
		padding-left: 3em;

		&:before {
		  .icon(@code-fork);
		  position: absolute;
		  left: 2em;
		}
	  }
	}

	&:nth-child(even) {
	  background-color: @table-bg-accent;
	}

	&:hover {
	  background-color: @table-bg-hover;
	}

	.repo-name {
	  position: relative;

	  h4 {
		font-size: 16px;
		margin: 5px 0;
	  }

	  &.with-home {
		min-height: 4.4em;
	  }

	  .go-to {
		font-size: 1.5em;
		position: absolute;
		left: 0;
		top: .2em;

		&.icon-github:hover {
		  text-decoration: none;
		}
	  }

	  .description {
		padding-top: 2px;
		font-size: .8em;
		line-height: 1.4;
	  }
	}

	.col.contribution-types {
	  .contribution {
		margin: 0 .5em;
		font-size: 1.2em;
		float: left;
		cursor: pointer;

		&.paypal {
		  margin-top: 3px;
		}
	  }
	}

	.col.support-types {

	  .support-type {
		cursor: pointer;
		border-radius: 5px;
		width: 2em;
		height: 2em;
		display: block;
		position: relative;
		border: 2px solid #000;
		border-color: fade(#000, 40);
		float: left;
		margin: 0 .5em;

		&.active {
		  border-color: #000;

		  &:before {
			opacity: 1;
		  }
		}

		&:before {
		  opacity: .5;
		  position: absolute;
		  top: 50%;
		  margin-top: -.7em;
		  text-align: center;
		  width: 100%;
		}

		&.contributing:before {
		  .icon(@group);
		}

		&.donating:before {
		  .icon(@usd);
		}

		&.supporting:before {
		  .icon(@heart);
		}
	  }

	  .remove {
		.support-type;
		opacity: 1;
		border-color: #000;

		&:before {
		  .icon(@remove);
		  color: #f33;
		  opacity: 1;
		}
	  }
	}
  }
}
