html, body {
  height: 100%;
}

body {
	font-weight: 400;
	background: #666 url('/images/bg.png') repeat;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;

  > .container {
    margin-bottom: 70px;
  }
}

.form-control {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  .navbar-brand {
    padding-top: 12px;
    padding-right: 60px;
  }

  #main-nav {
    font-weight: 300;
    font-size: 16px;
  }

  i {
		width: 1em;
  }

  .icon-signout {
    font-size: 18px;
    position: relative;
    top: 3px;

    a & {
      padding: 3px;
    }
  }

  .gravatar {
    border-radius: 50%;
    margin-left: 4px;
    position: relative;
    top: -1px;
  }

  .menu {
		padding: 8px 12px;
		display: inline-block;
  }
}

footer {
  height: 60px;
  text-align: left;
  padding-top: 10px;

  img {
    position: relative;
    top: -2px;
  }

  .row {
    .col-md-2 a {
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-weight: 300;

      span, img {
        .transition(opacity .50s linear);
        opacity: 0.5;
      }

      img {
        opacity: 0.5;
      }

      &:hover {
        span, img {
          opacity: 1;
        }
      }
    }

    div:last-child {
      text-align: right;
    }
  }
}

.repos-list {
  .controls, .repo {
  	.clearfix;

  	.col {
  	  float: left;
  	  min-height: 28px;
  	  height: 100%;

  	  &.support-types {
    		width: 15%;
    		min-width: 110px;
  	  }

  	  &.repo-name {
    		width: 30%;
    		min-width: 220px;
    		line-height: 2em;
  	  }

  	  &.contribution-types {
    		margin-left: 5%;
    		width: 40%;
    		min-width: 220px;
  	  }
  	}
  }

  .load-more {
		margin-top: 20px;
  }

  .repo {
  	padding: 20px 10px;
    border-bottom: 1px solid #222;
  	position: relative;
    font-weight: 300;

  	&.fork {
  	  .repo-name {
    		padding-left: 3em;

    		&:before {
    		  .icon(@code-fork);
    		  position: absolute;
    		  left: 2em;
    		}
  	  }
  	}

  	&:nth-child(even) {
  	  background-color: @table-bg-accent;
  	}

    &:hover {
      background-color: @table-bg-hover;
    }

  	.repo-name {
  	  padding-left: 2em;
  	  position: relative;

      h4 {
        font-size: 16px;
        margin: 5px 0;
      }

  	  &.with-home {
  		  min-height: 4.4em;
  	  }

  	  .go-to {
    		font-size: 1.5em;
    		position: absolute;
    		left: 0;
    		top: .2em;

    		&.icon-github:hover {
    		  text-decoration: none;
    		}
  	  }

  	  .description {
    		padding-top: 2px;
    		font-size: .8em;
    		line-height: 1.4;
  	  }
  	}

  	.col.contribution-types {
  	  .contribution {
    		margin: 0 1em;
    		font-size: 1.2em;
    		float: left;
    		cursor: pointer;

    		&.paypal {
    		  margin-top: 3px;
    		}
  	  }
  	}

  	.col.support-types {
  	  .support-type {
    		cursor: pointer;
    		border-radius: 5px;
    		width: 2em;
    		height: 2em;
    		display: block;
    		position: relative;
    		border: 2px solid #000;
    		float: left;
    		margin: 0 1em;

    		&.active {
    		  &:before {
    			 opacity: 1;
    		  }
    		}

    		&:before {
    		  opacity: .5;
    		  position: absolute;
    		  top: 50%;
    		  margin-top: -.7em;
    		  text-align: center;
    		  width: 100%;
    		}

    		&.contributing:before {
    		  .icon(@group);
    		}

    		&.donating:before {
    		  .icon(@usd);
    		}

    		&.supporting:before {
    		  .icon(@heart);
    		}
  	  }
  	}
  }
}
