<div class="search-form">
	<input class="form-control" proxy-focus="reset-search-string" type="text" value="{{searchString}}">
	<button class="btn btn-default" proxy-tap="search" type="button">Search By Name</button>
	<button class="btn btn-info" proxy-tap="add" type="button">Add By Github Url</button>
</div>

{{#shortSearchString}}
<div class="alert fade in">
	Your query is too short
</div>
{{/shortSearchString}}

{{#nothingFound}}
<h4>Nothing found by your request</h4>
{{/nothingFound}}
{{#repos.length}}
<div class='repos-list'>
	<div class="controls row">
		<div class="col-4">
			<!--<input type="text" placeholder="Filter.."/>-->
		</div>
		<span class="col-1">
			<span class="support-type donating" proxy-tap="toggle-support-all" data-type="donating" title="I'm donating"></span>
		</span>
		<span class="col-1">
			<span class="support-type contributing" proxy-tap="toggle-support-all" data-type="contributing" title="I'm contributing"></span>
		</span>
		<span class="col-1">
			<span class="support-type supporting" proxy-tap="toggle-support-all" data-type="supporting" title="I'm supporting in other way"></span>
		</span>
	</div>
	{{#repos}}
	{{>repo}}
	{{/repos}}
</div>
{{/repos.length}}