<div class="hide-help">
	<span class="icon-mail-forward"></span>
	<br>
	hide
	<br>
	help
</div>
<h1>What is a Supporter?</h1>

<div class="group-selector helper">
	A&nbsp;<strong>Supporter</strong> is a person, project or organisation that wants to show appreciation for the Open Source projects they are using. You don't need to make any financial contribution, just setting up a Supporter page and linking to it from your README.md or web site tells the world you are grateful for the existence of the Open Source projects you support.
</div>

<h1>How It Works?</h1>

<div class="group-selector helper">
	<div class="text">
		<h3>1. Specify the capacity in which you're supporting</h3>

		<p>
			Click on the 'You are editing' drop down at the top of the screen.
			You can support in more than on of the capacities you see in the drop down.
			For each one where you are supporting, you will see a heart icon.
		</p>

		<p>
			You can choose to give support generally without being project specific (in which case select 'General support') and you can also give support at the individual project level (in which case you can select an individual repo).
		</p>

		<p>
			Wherever you are either an Administrator at the Organizational level, you will see those organizations listed. As with personal account, you can choose to offer support at the general level and/or the project level.
		</p>

		<img src="/images/help/supporters/dropdown.jpg" alt=""/>
	</div>
</div>
<div class="helper">
	<h3>2. Specify Open Source projects you use</h3>

	<div class="text" style="padding-right: 160px; min-height:  100px">
		<p>You can find the open source projects you are using by the four methods shown (Search, Owned, Watched and Starred). Having located the repo, you indicate the way you are supporting that project by clicking on any or all of the 3 icons. Hover over the icon to see what each one means.</p>

		<p>Each time you indicate support for a repo, it will be added to SELECTED PROJECTS which you can click on at any time.</p>
		<img src="/images/help/supporters/supporting-icons.png" alt=""/>
	</div>
</div>
<div class="helper">
	<h3>3. You might want to donate now</h3>

	<div class="text" style="padding-right: 340px; min-height:  100px">
		<p>There is absolutely no obligation to donate. Just acknowledging your support (the heart icon) is great. But if you do want to donate then you can donate by clicking on any of the donate icons on the right side. I Love Open Source (itself an Open Source project) does not process any financial transactions at all. The Repo Maintainers are responsible for saying how they would like donations to be given and this involves 3rd party systems such as Gittip, Flattr, Paypal etc.</p>
		<img src="/images/help/supporters/donate.png" alt=""/>
	</div>
</div>
<div class="helper">
	<h3>4. Preview your page and generate link code</h3>

	<div class="text" style="padding-right: 240px; min-height:  100px">
		<p>You can press the Preview Project button at any time in order to see how your support page looks.</p>

		<p>At any time, you can press the 'Share' button to get the code to paste into your web site or README.md file. By inlacing the "I Love Open Source" icon, you are helping people drive awareness and encouraging others to acknowledge and also donate.</p>
		<img src="/images/help/supporters/preview.png" alt=""/>
	</div>

</div>
