<h3>
	Select repos which have your support
</h3>

<ul class="nav nav-tabs">
	<li class="selected-repos">
		<a href="#selected-repos" data-toggle="tab">
			Selected Repos <span class="badge" id="selected-count"><%= obj.selectedCount %></span>
		</a>
	</li>
	<li class="active"><a href="#repo-search" data-toggle="tab">Search For Repo</a></li>
	<li class="disabled">
		<a href="#own-repos" data-toggle="tab">
			<i class="icon-spinner icon-spin icon-large"></i> Own Repos
		</a>
	</li>
	<li class="disabled">
		<a href="#starred-repos" data-toggle="tab">
			<i class="icon-spinner icon-spin icon-large"></i> Watching Repos
		</a>
	</li>
	<li class="disabled">
		<a href="#watched-repos" data-toggle="tab">
			<i class="icon-spinner icon-spin icon-large"></i> Starred Repos
		</a>
	</li>
	<li class="pull-right">
		<button type="button" class="btn btn-primary col-12" id="save-changes">Save Changes!</button>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane" id="own-repos"></div>
	<div class="tab-pane" id="starred-repos"></div>
	<div class="tab-pane" id="watched-repos"></div>
	<div class="tab-pane active" id="repo-search"></div>
	<div class="tab-pane" id="selected-repos"></div>
</div>