<ul class="nav nav-tabs">
	<li class="selected-repos active">
		<a href="#selected-repos">
			Selected Repos
			&nbsp;<span class="badge" id="selected-count"><%= obj.selectedCount %></span>
		</a>
	</li>
	<li>
		<a href="#repo-search">Search</a>
	</li>
	<li class="disabled">
		<a href="#own-repos">
			<i class="icon-spinner icon-spin icon-large"></i> Owned
		</a>
	</li>
	<li class="disabled">
		<a href="#starred-repos">
			<i class="icon-spinner icon-spin icon-large"></i> Watched
		</a>
	</li>
	<li class="disabled">
		<a href="#watched-repos">
			<i class="icon-spinner icon-spin icon-large"></i> Starred
		</a>
	</li>
	<li class="pull-right">
		<div class="btn btn-primary">
			<a href="/users/<%= currentUserName %>">Preview</a>
		</div>
		<div class="btn btn-info share-trigger" data-alt-text="Hide">
			Share
		</div>
	</li>
</ul>
<div class="share">
	<div class="help">
		Please copy and paste the Markdown or HTML link into your site. This is very important as it publicly expresses your support and encourages others to do so as well.
	</div>

	<div class="form-group">
		<label for="input-md" class="col-lg-2 control-label">MarkDown:</label>
		<div class="col-lg-9">
			<input id="input-md" class="form-control" readonly="" value="[![Open Source Supporter](http://ilos.dev:3000/images/logo-lightbg.png)](http://ilos.dev:3000/users/krasu)">
		</div>
	</div>
	<div class="form-group">
		<label for="input-html" class="col-lg-2 control-label">HTML:</label>
		<div class="col-lg-9">
			<input id="input-html" class="form-control" readonly="" value='&lt;a href="http://ilos.dev:3000/users/krasu"&gt;&lt;img src="http://ilos.dev:3000/images/logo-lightbg.png" alt="Open Source Supporter"/&gt;&lt;/a&gt;'>
		</div>
	</div>
</div>
<div class="tab-content">
	<div class="tab-pane" id="own-repos"></div>
	<div class="tab-pane" id="starred-repos"></div>
	<div class="tab-pane" id="watched-repos"></div>
	<div class="tab-pane" id="repo-search"></div>
	<div class="tab-pane active" id="selected-repos"></div>
</div>