<ul class="nav nav-tabs">
	<li class="selected-repos active">
		<a class="tab" href="#selected-repos">
			Selected Projects
			&nbsp;<span class="badge" id="selected-count"></span>
		</a>
	</li>
	<li>
		<a class="tab" href="#repo-search">Search</a>
	</li>
	<li class="disabled">
		<a class="tab" href="#own-repos">
			<i class="icon-spinner icon-spin icon-large"></i> Owned
		</a>
	</li>
	<li class="disabled">
		<a class="tab" href="#starred-repos">
			<i class="icon-spinner icon-spin icon-large"></i> Watched
		</a>
	</li>
	<li class="disabled">
		<a class="tab" href="#watched-repos">
			<i class="icon-spinner icon-spin icon-large"></i> Starred
		</a>
	</li>
	<li class="pull-right">
		<div class="btn btn-primary">
			<a href="/users/<%= currentUserName %>" class="preview">Preview</a>
		</div>
		<div class="btn btn-info share-trigger" data-alt-text="Hide">
			Share
		</div>
	</li>
</ul>
<div class="share">
</div>
<div class="tab-content">
	<div class="tab-pane" id="own-repos"></div>
	<div class="tab-pane" id="starred-repos"></div>
	<div class="tab-pane" id="watched-repos"></div>
	<div class="tab-pane" id="repo-search"></div>
	<div class="tab-pane active" id="selected-repos"></div>
</div>