<div class="search-form">
	<input class="form-control search-string" type="text">
	<button class="btn btn-default search" type="button">Search By Name</button>
	<button class="btn btn-info add" type="button">Add By Github Url</button>
</div>

<div class="query-too-short alert fade in">
	Your query is too short
</div>

<% if (!obj.reposCount && obj.searchString) { %>
<h4>Nothing found by your request</h4>
<% } %>


<div class='repos-list hidden'>
	<div class="controls row">
		<div class="col repo-name"></div>
		<div class="col support-types text-center">
			<b>How I contribute</b>
		</div>
		<div class="col contribution-types">
			<b>Authors preferred method of contribution</b>
		</div>
	</div>
</div>
