<div class="col repo-name <%= repo.homepage ? 'with-home' : '' %>">

	<a href="<%= repo.url %>" class="icon-github go-to" target="_blank"></a>

	<% if (repo.homepage) { %>
	<a href="<%= repo.homepage %>" class="icon-home go-to" target="_blank"></a>
	<% } %>

	<h4>
		<% if (repo.owner.user) { %>
			<a href="/users/<%=repo.owner.username %>"><%=repo.owner.username %></a>
		<% } else { %>
			<%= repo.owner.username %>
		<% } %>
		<span> / </span>
		<% if (repo._id) { %>
			<a href="/projects/<%=repo._id %>"><%=repo.name %></a>
		<% } else { %>
			<%= repo.name %>
		<% } %>
	</h4>

	<div class="description">
		<% if (repo.description) { %>
			<%= repo.description %>
		<% } %>
	</div>

</div>

<div class="col support-types">
	<span class="support-type donating <%= repo.support.donating ? 'active' : '' %>" data-type="donating" data-toggle="tooltip" data-toggle="tooltip" title="I’m donating cash"></span>
	<span class="support-type contributing <%= repo.support.contributing ? 'active' : '' %>" data-type="contributing" data-toggle="tooltip" data-toggle="tooltip" title="I’m contributing code"></span>
	<span class="support-type supporting <%= repo.support.supporting ? 'active' : '' %>" data-type="supporting" data-toggle="tooltip" title="I’m a vocal supporter"></span>
	<% if (obj.canDelete) { %>
		<span class="remove" data-toggle="tooltip" title="Remove repo"></span>
	<% } %>
</div>