<div class="modal fade" id="need-contribution-ways" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Contribute</h4>
			</div>
			<div class="modal-body">
				We are letting the Maintainer of this project know that you are keen to donate. We’ll be back in touch once they’ve set something up.
			</div>
		</div>
	</div>
</div>
