<h3 class="empty-message text-center">No results found by your request</h3>
<div class="content">
    <div class="row">
        <div class="col-md-2">
            <small>Last Request / Created</small>
        </div>
        <div class="col-md-1">
            Settings
        </div>
        <div class="col-md-1">
            Notified
        </div>
        <div class="col-md-2">
            Email
        </div>
        <div class="col-md-3">
            Project
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="requests-list"></div>
</div>