<div class="row">
    <div class="col-md-4">
         <input type="text" class="form-control search-query" placeholder="Search by project name"/>
    </div>
    <div class="col-md-3 switcher" data-field="notified">
        Maintainer Notified: <span class="toggler"></span>
    </div>
    <!--<div class="col-md-2 switcher" data-field="methodsSet">-->
        <!--Settings set: <span class="toggler"></span>-->
    <!--</div>-->
    <div class="col-md-2 loading">
        <span class="icon-spinner icon-spin icon-2x"></span>
    </div>
</div>