<% titleBuilder.add('Not found') %>
<% include parts/head.ejs %>
<div class="jumbotron" style="text-align: center">
	<h1><a href="/">404</a></h1>

	<p>We're Sorry, but the page you're looking for cannot be found</p>
</div>
<% include parts/foot.ejs %>
