<% titleBuilder.add('Server error') %>
<% include parts/head.ejs %>
<div class="jumbotron" style="text-align: center">
	<h1><a href="/">500</a></h1>

	<p>Oops, something gone wrong</p>
</div>
<% include parts/foot.ejs %>
