<% var noHead = true %>
<% var forkMe = true %>
<% var bodyClass = 'home' %>
<% include parts/head.ejs %>
<div class="container">

	<img src="/images/logo-darkbg.png" alt="I Love Open Source" id="logo">
	<p id="tagline">Simple Recognition for Open Source Developers</p>

	<div class="row show-grid">
		<section class="col-md-5 col-md-offset-1">
			<h2>Maintainers</h2>

			<p>All you do is sign in with Github and then tell us how you would like people to support your efforts (we've got various options as standard). Then grab the button widget and drop it into your README file or your site.</p>
		</section>

		<section class="col-md-5">
			<h2>Supporters</h2>

			<p>If you use Open Source software, then giving vocal support really makes a difference to that Open Source Project as well as the open source community as a whole. We make it really easy for you to say what projects you use in your applications.</p>
			<a href="" class="btn"></a>
		</section>
	</div>

	<p id="video-line"><a href="#video-here">Watch a video</a> of how <strong>I Love Open Source</strong> works.</p>

	<div id="start">
		<% if (!user) { %>
		<a href="/auth/github" class="btn btn-info" id="login">
			<i class="icon-github"></i>
			<span>Start here...<small>with your Github account</small></span>
		</a>
		<% } else { %>
		<a href="/supporter" class="btn btn-info" id="welcome">
			Welcome back <%= user.username %>! <i class="icon-signin"></i>
		</a>
		<% } %>
	</div>
</div>

<!-- Fancybox for Video -->
<link rel="stylesheet" type="text/css" href="/js/vendors/fancybox/source/jquery.fancybox.css"/>
<script type="text/javascript" src="/js/vendors/fancybox/lib/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/js/vendors/fancybox/source/jquery.fancybox.pack.js"></script>
<script>
	$(document).ready(function() {
		$('#video-line a').fancybox({
			openEffect  : 'none',
			closeEffect : 'none',
			helpers : {
				media : {}
			}
		});
	});
</script>

<% include parts/foot.ejs %>