<% include header.ejs %>
<% if (!user) { %>
<a href="/auth/github" class="btn btn-info" id="login">
	Join us with your GitHub Account
</a>
<% } else { %>
<a href="/users/<%= user.username %>" class="btn btn-info" id="welcome">
	Welcome back <%= user.username %>!
</a>
<% } %>
<% include footer.ejs %>
