<% titleBuilder.add(user.username) %>
<% titleBuilder.add('Repo Editor') %>

<% include parts/head.ejs %>
<div class="container">
	<section id="maintainers">
		<div class="loading"><i class="icon-spinner icon-spin icon-large"></i> Loading</div>
		<div class="content"></div>
	</section>
</div>

<% include modals/index.ejs %>

<script type="text/javascript" src="<%= jsPath %>vendors/requirejs/js/require.js"></script>
<script type="text/javascript" src="<%= jsPath %>require.config.js"></script>
<script type="text/javascript">
	require.config({
		baseUrl: "<%= jsPath %>"
	})
	require(['modules/maintainers/main'])
</script>


<% include parts/foot.ejs %>